

/* ===== HEADER ===== */
.parkin_header {
    display: flex;
    width: 100vw;
    /* ocupa 80% da largura da tela */
    height: 60px;
    /* ocupa 50% da altura da tela */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* <<< sombra */
    position: relative;
    z-index: 10;
}

/* ===== LOGO ===== */
.header_logo {
    display: flex;
    background: black;
    width: 271px;
    height: 100%;
    justify-content: center;
    /* centraliza horizontalmente o conteúdo */
    align-items: center;
    /* centraliza verticalmente */
}

.logo_conteudo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo_img {
    width: 35px;
    height: 35px;
    filter: invert(100%);
    object-fit: contain;
}

.header_logo h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* ===== LINHA DECORATIVA ===== */
.header_separator {
    display: flex;
    position: absolute;
    top: 60px;
    bottom: 1px;
    width: 260px;
    /* ocupa 80% da largura da tela */
    height: 1px;
    /* ocupa 50% da altura da tela */
    background-color: white;
    left: 0;

}

/* ===== TÍTULO CENTRAL ===== */
.header_title {
    display: flex;
    flex: 3;
    width: 1315px;
    height: 100%;
    align-items: center;
}

.header_title h2 {
    font-weight: 600;
    font-size: 20px;
    color: black;
    padding-left: 2%;
}

/* ===== ÍCONE DE USUÁRIO ===== */
.user_icon {
    background-color: white;
    display: flex;
    flex: 1;
    gap: 15px;
    width: 36px;
    height: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user_icon img {
    width: 36px;
    height: 35px;
    border-radius: 50%;
    transition: transform 0.2s ease;
    align-items: center;
    justify-content: center;
}

.nome_usuario {
    font-size: 16px;
    transition: transform 0.2s ease;
    font-weight: normal;
}

.user_icon:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* <<< sombra */
}