/* ===== MENU LATERAL ===== */
.menu {

    width: 260px;
    background: black;
    color: white;
    padding: 20px 15px;
}

.menu ul {
    list-style: none;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    display: block;
    padding: 12px 15px;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color 0.3s, transform 0.2s;
}

.menu li a:hover,
.menu li a.ativo {
    background-color: #333;
    transform: translateX(5px);
}