/* ===== RESPONSIVIDADE ===== */
@media (max-width: 900px) {
    .parkin_container {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        text-align: center;
    }

    .menu li a {
        margin: 5px auto;
        border: none;
        border-bottom: 1px solid #888;
    }

    .mutaveis,
    .outros {
        flex-direction: column;
    }

    .box-vagas {
        width: 100%;
    }

    .header_title h2 {
        font-size: 1.2rem;
    }
}
