* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
}

/* Cabeçalho  */
.topbar {
  background-color: #0f0c0c;
  color: white;
  padding: 16px 32px;
  font-size: 24px;
}

/* Container central da tela */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}

/* Imagem do logo */
.icon-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.logo-image {
  width: 80px;
  /* Tamanho do ícone */
  height: auto;
}

/* Título e subtítulo */
.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  color: #333;
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

/* Formulário de login */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 320px;
}

.login-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-form button {
  background-color: #000;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #333;
}

/* Caixa com credenciais de teste */
.credenciais-box {
  margin-top: 30px;
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  max-width: 350px;
}
.credenciais-box a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.credenciais-box a:hover {
  text-decoration: underline;
}
/* Personalização da página de cadastro */
.login-form input:focus {
  border-color: #000;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-form button {
  background-color: #0f0c0c;
}

.login-form button:hover {
  background-color: #333;
}
